<div class="row">
    <div class="container">
        <div class="row center">
            <div class="col s12">
                <div class="panel card-panel blue-grey lighten-2 z-depth-4">
                    <h1 class="center-align">Log in</h1>
                    <div class="row">
                        <%= form_for(:logins, html: {class: "col s12"}) do |f| %>
                            <div class="input-field col s12 z-depth-1">
                                <%= f.text_field :email,  placeholder: "Enter your email", autofocus: true %>
                                <%= f.label :email, class: "black-text" %>
                            </div>
                            <div class="input-field col s12 z-depth-1">
                                <%= f.password_field :password,  placeholder: "Enter your password", autofocus: true %>
                                <%= f.label :password, class: "black-text" %>
                            </div>
                           
                            <%= f.button '<i class="material-icons right">arrow_forward</i> Log in'.html_safe, class: "waves-effect waves-light btn right blue-grey z-depth-3" %>
                            
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- row -->