<!DOCTYPE html>
<html>
  <head>
    <title>University App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/nav' %>
      <% flash.each do |key, message| %>
        <div class="container">
            <div class="col s12">
                <div class="card-panel green lighten-3 z-depth-2 white-text" id="fade-out1">
                    <%= message %>
                </div>
            </div>
        </div>
      <% end %>
    </header>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
